<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="app" type="Application" factoryName="Application">
    <option name="MAIN_CLASS_NAME" value="mja.cors_proxy.App" />
    <module name="jar" />
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>