@import "bootstrap.css";

span,div.key,.break{
  word-break: break-all;
  overflow-wrap: break-word;
  padding-left: .3rem;
  padding-right: .3rem;
}
span.btn[data-cb]{
  padding: 0 .3rem;
  display: inline;
  vertical-align: baseline;
}
div.pin{
  padding: 0;
  display: inline;
  vertical-align: baseline;
}
.bg-success-sh{
  --bs-bg-opacity: 1;
  background-color: rgb(37, 83, 62) !important;
}
.bg-danger-sh {
  --bs-bg-opacity: 1;
  background-color: rgb(117, 29, 38) !important;
}
.bg-waited-sh {
  --bs-bg-opacity: 1;
  background-color: rgb(125, 130, 31) !important;
}
body > .container{
  padding-left: 0;
  padding-right: 0;
}
